# Server Configuration
PORT=8080
GIN_MODE=release
READ_TIMEOUT=15
WRITE_TIMEOUT=15

# Database Configuration
DB_PATH=./gscope.db 

# Session Configuration
SESSION_SECRET=your-secret-key-here

# For github app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
